<html>
<!DOCTYPE html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <title>Marketplace</title>

</head>
    <body>
        <div class="header">
            Marketplace
        </div>


        <div class="søgefeldt">
            <input type="text" placeholder="Søg..">
          </div>

         <div>
        <button class="form__button__annonce" id="opretannonce">Opret annonce</button>
        </div>


    </body>

    <div id="sidebar" class="sidebar">
        <a href="javascript:void(0)" class="closebtn" onclick="lukNav()">×</a>
        <li id="updateproduct">Update a product </li>
        <li id="myproducts">My products</button>
          <li id="cars">Category - Cars </button>
            <li id="food">Category - Food</button>
              <li id="clothing">Category - Clothing</button>
        <li id="sletvare">Delete a product</li>
        <li id= "deleteuser"> Delete your user</li>
        <li id= "signout"> Sign out</li>
      </div>
      
      
      