<!DOCTYPE html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <title>Delete product</title>

</head>

    
<body>

    <div>
        <h1>
            Delete your product
        </h1>
    </div>

    <form id= "formDelete">
        <input type="number" name="userId" class="form__input" autofocus placeholder="Your userID" id="userID">
        
        <input value ="submit" type="submit" id="deletep">


        
    </form>


</body>


<script src="deleteproduct.js"></script>
