<html>
  <head>
    <script src="index.js"></script>
  </head>
  <body>
    
    
    <a href="register.html">Don't have a user? Create one!</a>
    <br/>
    <a href="login.html">Already have a user? Login!</a>
    <br/>
   

    <h1>My Profile</h1>

    <form id="delete">
    <input value="Delete your userID" type="submit" /> 
    </form>

    <input id="signOutBtn" value="Sign Out" type="button" />
    <br/>
    <a href="updateuser.html">Update your password</a>


    <h1>Products</h1>
    <a href="productview.html">View all products!</a>
    <br/>
    <a href="products.html">Sell a product</a>
    
    <style>
      body {background-color: powderblue;}
h1   {color: blue;}
p    {color: red;}
    </style>


  </body>
</html>
      