<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Our products</title>
</head>
<body>
<h1>View all our products here!</h1>

    <a href="products.html">Sell a product</a>
</br>
<a href="updateproduct.html">Update your product</a>
<a href="index.html">Go back to frontpage</a>
</br>
</br>
    <button id="clickMe">View products</button>
    <table id="generatedContent"></table>
    <script src="productview.js" async defer></script>
   

    <style>
        body {background-color: powderblue;}
  h1   {color: blue;}
  p    {color: red;}
      </style>

</body>
</html>
