<html>
  <head>
    <script src="register.js"></script>
  </head>
  <body>
    <h1>Register</h1>
    <form id="form">
      <input placeholder="Email" id="email" />
      <input placeholder="Password" id="password" />
      <input placeholder="UserID" id="userId" />

      <input value="Submit" type="submit" />
    </form>
    <a href="login.html">Already have a user? Login!</a>

    <style>
      body {background-color: powderblue;}
h1   {color: blue;}
p    {color: red;}
    </style>
  </body>
</html>