<html>
  <head>
    <script src="updateproduct.js"></script>
  </head>
  <body>
    <style>
      body {background-color: powderblue;}
h1   {color: blue;}
p    {color: red;}
    </style>
    <h1>Update your product</h1>
    <form id="updateform">
      <input placeholder="What are you selling?" id="updatepro" />
      <input placeholder="Which price?" id="productPrice" />
      <input placeholder="Category" id="productID" />
      </BR>
    
      
     <!--  <input value="Submit" type="submit" /> --> 
     <button type="submit" id="uploadbtn">Update</button>
    </form>

   
    <a href="index.html">Go back to frontpage</a>
  </body>
</html>