<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <title>Skift adgangskode</title>
 
</head>


<body>

    <div class="container">
        <h1 class="form__titel">
            Update your password
        </h1>

        <div> 
            <form id= "formUpdateUser">
                <input type="email" name="email" class="form__input" autofocus placeholder="Your email" id="email"/>
                <input type="password" name="password" class="form__input" autofocus placeholder="New password" id="password" />
                <input value ="change password" type="submit" id="update" class="form__button">
                
            </form>
        </div>
    </div>



    
</body>


<script src="updateuser.html" async defer></script>

</html>